version: "3.8"

services:
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    container_name: jenkins
    restart: unless-stopped

    ports:
      - "8080:8080"    # UI
      - "50000:50000"  # Slave/Agent nodes

    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=true

    volumes:
      - ./jenkins_home:/var/jenkins_home

    networks:
      - jenkins-net

networks:
  jenkins-net:
    driver: bridge

